
body,div{
	margin: 0px;
	padding: 0px ;
}
body {
  height: 100%;
  width: 100%;

  display: flex;
	justify-content: center ;
	align-items: center;
	
  border-top: solid 15px #725752;
  border-bottom: solid 15px #725752;
  border-top-left-radius: 30px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 30px;

  background-color: #FFFEF4;
  box-sizing: border-box;

}

.main{
	width:50%;
	height:50%;

	display:flex;
	justify-content: center ;
	align-items: center;
	position:relative;
	
}

.hello_text{
	position: absolute ;
	color:#696565;
	opacity:0.5;
	top:20%;	

	overflow:hidden;
	white-space:nowrap; /*強制一行*/
	border-right:2px solid;
	
	font-family:'Orbitron';
	letter-spacing: 1px;

	animation:typing 6s steps(18) infinite,caret 0.6s steps(1) infinite;
  -webkit-animation: typing 6s steps(18) infinite,caret 0.6s steps(1) infinite;
}
@keyframes typing{
  from{width:0;}
  70%{width:325px;opacity:0.5;}
  100%{width:325px;opacity:1;}
}
@keyframes caret{
  50%{border-color:transparent;}
}

/* The ccenter profile */
.wrap{
	position:relative;
	text-align: center ;
	cursor:pointer;

  border-radius:25%;
}

.bighead{
	position: relative;
	border-radius:100%;
	width: 30%;
	right: -20%;
	border:solid 2px #EFEFEA;;

	filter:grayscale(0.8);
	transition:all 0.4s ease-in;
}
.wrap-profile{
	position:absolute;
	top:0px;
	right: 20%;
	margin:10px 20px;
	opacity:0;
	
	font-family: 'Exo 2', sans-serif;
	transition:all 0.5s ease-in;
}
.profile{
	display:none;
}
.name{
	font-size:27px;
}

#obj_title{
	color:#827f7f;
  text-align: left;
  padding: 0px 15px;
}
#chinese_name{
	font-size: 15px;
  margin-left: 12px;
}

.profile_line{
	width: 95%;
  height: 2px;

  background-color: black;
}

.inline_text{
	color: #ED5050;
	text-align: left;
	letter-spacing:1px;
  padding: 0px 15px;
}

/* Hover */
.wrap:hover > .bighead{
  right: 23%;
  filter:grayscale(0) drop-shadow(7px 4px 6px #ccc);
}

.wrap:hover > .hello_text{
	animation:disappear 0.8s linear ;
  -webkit-animation: disappear 0.8s linear forwards;
}

.wrap:hover > .wrap-profile{
	right:9%;
	opacity:1;
}

.wrap:hover .profile{
	display:block;
}

.wrap:hover > .curve{
	filter:grayscale(0);

	animation:tall 0.8s linear ;
  -webkit-animation: tall 0.8s linear forwards;
}

.wrap:hover{
	box-shadow: 0px 0px 0px 57px rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
}

@keyframes disappear{
	to{ width:0px; opacity:0;}
}

@keyframes tall{
	to{height:20px;}
}


/* The CURVE */
.curve{
	position: absolute;

  width: 100%;
  height: 9px;
  opacity: 0.7;

  background: #00E8FF;
  transform: rotateZ(0deg);

  filter:grayscale(1);
  transition: filter 0.5s ease-in;
}

.curve-top{
	top: -50px;
	border-radius: 0% 100% 0% 100%;
	background: linear-gradient(#00E8FF 0%, rgb(34, 148, 224) 60%, rgba(222, 245, 237, 0.55) 100%);
	animation: surface_top 2s linear infinite;
}

.curve-bottom{
	bottom:-50px;
	border-radius: 100% 0 100% 0;
	background: linear-gradient(rgba(222, 245, 237, 0.55) 0%, rgb(34, 148, 224) 40%, #00E8FF 100%);

	animation: surface_bottom 2s linear alternate-reverse infinite;
}

@keyframes surface_top  {
	50%  {
		border-radius: 100% 0% 100% 0%;
		opacity: 0.5;
	}
}

@keyframes surface_bottom  {
	50%  {
		border-radius: 0% 100% 0% 100%;
		opacity: 0.5;
	}

	50%{
		border-radius: 100% 0 100% 0;
		opacity:1;
	}
}


@media screen and (max-width: 1200px){
	.main{
		width:70%;
		height:80%;
	}
}

@media screen and (max-width: 720px){
	
	.bighead{
		right:0%;
		width:50%;
	}

	.hello_text{
		position:relative;
	}


	.wrap:hover > .wrap-profile{
		position:relative;
		right:0%;
		opacity:1;
	}

	.wrap:hover > .bighead{
		width:60%;
	}

	#obj_title,.inline_text{
		text-align: center;
	}
	
}