<!DOCTYPE html>

<html style = "height:100%;width:100%;margin:0px;">
<head>
	{{> head}}
  <title> {{meicard.title}} || WebDesignPractice</title>
  <link rel="stylesheet" href = "./dist/css/meicard.css">
  <style>
  	@import  url('{{mycard.font}}');
  </style>
</head>
<body>

<div class = "mark">MEI</div>

<div class = "main">
	<div class = "wrap">
		<div class = "curve curve-top"></div>

		<h2 class ="hello_text">“ Hello , I'm a&nbsp;&nbsp;<span>Flower</span> ”</h2>

		<img class = "bighead" src = "./dist/img/mei.jpg" >
		<div class = "wrap-profile">
			<div class = "profile">
				<h2 class = "name">Xinmei Lu <span id = "chinese_name">(笨蛋玫)</span></h2>
				<p id = "obj_title">A Sleeper Everytime

				</p>	
				<div class ="profile_line"></div>
				<p class = "inline_text">“ 我最喜歡  <span style = "font-weight:bold;font-size:18px;">已讀不回</span> , <br>&nbsp;&nbsp; 謝謝大家. ”</p>
			</div>
		</div>

		<div class = "curve curve-bottom"></div>
	</div>
</div>

<!-- Musuic -->
<audio preload loop autoplay>
	<source src = "./dist/bgm/bgm_mycard.mp3" type="audio/mp3">
</audio>

</body>
</html>